header{
    display: flex;
    justify-content: space-between;
    padding: 0 0.4rem;
}    

nav{
    display: flex;
    align-items: stretch;
}

nav a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#colmar{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.8rem 0.5rem;
}

#colmar a img[alt="logo"]{
    width: 170%;
}

#colmar a:last-child{
    margin-left: 2rem;
    padding-top: 0.5rem;
    color: #4a4a4a;
}

#colmar a span{
    color: lightgray;
}

#navbar{
    padding-top: 0.6rem;
}

#navbar a{
    padding: 1rem 0.5rem;
    font-size: 1.2rem;
    color: #4a4a4a;
    font-weight: bold;
}
/*

 /$$                                 /$$                    
| $$                                | $$                    
| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ 
| $$__  $$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
| $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$      
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$      
|__/  |__/ \_______/ \_______/ \_______/ \_______/|__/      
                                                                                                          
*/
.home{
    display: flex;
    padding: 2rem 1.6rem;
    padding-top: 2rem;
    background-color: lightgray;
}

.home figure{
    width: 58%;
    margin-right: 3rem;
}

.home figure img{
    width: 100%;
}

.home article{
    width: 32%;
    padding-top: 7rem;
}

.home article h1{
    font-family: 'Open Sans', sans-serif;
    color: #4a4a4a;
    font-size: 2.4rem;
    font-weight: bold;
    width: 70%;
    line-height: 2.6rem;
    margin-bottom: 3.5rem;
}

.home article p{
    font-family: 'Open Sans', sans-serif;
    color: #4a4a4a;
    width: 70%;
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-bottom: 3.5rem;
}

.home article a{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: block;
    width: 70%;
    padding: 1rem 0;
    background-color: #4a4a4a;
    color: white;
    text-decoration: none;
}
/*

 /$$                                        
| $$                                        
| $$$$$$$   /$$$$$$  /$$$$$$/$$$$   /$$$$$$ 
| $$__  $$ /$$__  $$| $$_  $$_  $$ /$$__  $$
| $$  \ $$| $$  \ $$| $$ \ $$ \ $$| $$$$$$$$
| $$  | $$| $$  | $$| $$ | $$ | $$| $$_____/
| $$  | $$|  $$$$$$/| $$ | $$ | $$|  $$$$$$$
|__/  |__/ \______/ |__/ |__/ |__/ \_______/                                         
                                        
*/
.practicing{
    display: flex;
    align-items: stretch;
    background-color: whitesmoke;
}

.information{
    width: 59%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.6rem;
    margin-right: 2rem;
}

img[alt="information"]{
    width: 100%;
    margin-bottom: 2rem;
}

.information figcaption h2, .start h2, .exhibit h2{
    font-family: 'Open Sans', sans-serif;
    color: #4a4a4a;
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.information figcaption p{
    color: gray;
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin-bottom: 2rem;
}

.information figcaption blockquote{
    color: gray;
}

.orientation-date{
    width: 42%;
    padding-top: 2rem;
    border-left: 1px solid lightgray;
}

.orientation{
    display: flex;
}

img[alt="orientation"], img[alt="campus"], img[alt="guest"]{
    width: 35%;
    margin-right: 1.7rem;
}

.orientation figcaption{
    width: 65%;
    padding-top: 3.4rem;
}

.orientation figcaption h3, 
.start-row1 figure figcaption h3, 
.start-row1 figure figcaption h4,
.start-row2 figure figcaption h3, 
.start-row2 figure figcaption h4, 
.urban figcaption h3, .items figcaption h3{
    font-family: 'Open Sans', sans-serif;
    color: #4a4a4a;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.orientation figcaption p, 
.start-row1 figure figcaption p, 
.start-row2 figure figcaption p, 
.urban figcaption p, 
.items figcaption p, footer p, footer a{
    font-family: 'Open Sans', sans-serif;
    color: #4a4a4a;
    line-height: 1.2rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.orientation figcaption a{
    text-decoration: none;
    color: dodgerblue;
}

.orientation:last-child{
    background-color: lightgray;
}

.orientation:first-child{
    border-bottom: 3px solid lightgray;
}

/*
                                         $$\     $$\           $$\                     
                                         $$ |    \__|          \__|                    
 $$$$$$\   $$$$$$\  $$$$$$\   $$$$$$$\ $$$$$$\   $$\  $$$$$$$\ $$\ $$$$$$$\   $$$$$$\  
$$  __$$\ $$  __$$\ \____$$\ $$  _____|\_$$  _|  $$ |$$  _____|$$ |$$  __$$\ $$  __$$\ 
$$ /  $$ |$$ |  \__|$$$$$$$ |$$ /        $$ |    $$ |$$ /      $$ |$$ |  $$ |$$ /  $$ |
$$ |  $$ |$$ |     $$  __$$ |$$ |        $$ |$$\ $$ |$$ |      $$ |$$ |  $$ |$$ |  $$ |
$$$$$$$  |$$ |     \$$$$$$$ |\$$$$$$$\   \$$$$  |$$ |\$$$$$$$\ $$ |$$ |  $$ |\$$$$$$$ |
$$  ____/ \__|      \_______| \_______|   \____/ \__| \_______|\__|\__|  \__| \____$$ |
$$ |                                                                         $$\   $$ |
$$ |                                                                         \$$$$$$  |
\__|                                                                          \______/ 

*/

.start h2, .exhibit h2{
    text-align: center;
    background-color: lightgray;
    padding: 3rem 0;
}

.start{
    background-color: lightgray;
    padding: 0 3rem;
    padding-bottom: 2rem;
}

.start h2{
    margin-bottom: inherit;
}

.start-row1, .start-row2{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.start-row1{
    margin-bottom: 2rem;
}

.start-row1 figure, .start-row2 figure{
    width: 32%;
    background-color: white;
}

img[alt="software"], 
img[alt="computer"], 
img[alt="design"], 
img[alt="data"], 
img[alt="business"], 
img[alt="marketing"]{
    width: 100%;
    margin-bottom: 1.5rem;
}

.start-row1 figure figcaption, .start-row2 figure figcaption{
    padding-left: 1.5rem;
    padding-right: 9rem;
}

.start-row1 figure figcaption h4, .start-row2 figure figcaption h4{
    font-weight: inherit;
    font-size: 1.2rem;
}
/*

            $$\                          $$\           $$\                                         $$\                     
            $$ |                         $$ |          $$ |                                        \__|                    
 $$$$$$$\ $$$$$$\    $$$$$$\   $$$$$$\ $$$$$$\         $$ | $$$$$$\   $$$$$$\   $$$$$$\  $$$$$$$\  $$\ $$$$$$$\   $$$$$$\  
$$  _____|\_$$  _|   \____$$\ $$  __$$\\_$$  _|        $$ |$$  __$$\  \____$$\ $$  __$$\ $$  __$$\ $$ |$$  __$$\ $$  __$$\ 
\$$$$$$\    $$ |     $$$$$$$ |$$ |  \__| $$ |          $$ |$$$$$$$$ | $$$$$$$ |$$ |  \__|$$ |  $$ |$$ |$$ |  $$ |$$ /  $$ |
 \____$$\   $$ |$$\ $$  __$$ |$$ |       $$ |$$\       $$ |$$   ____|$$  __$$ |$$ |      $$ |  $$ |$$ |$$ |  $$ |$$ |  $$ |
$$$$$$$  |  \$$$$  |\$$$$$$$ |$$ |       \$$$$  |      $$ |\$$$$$$$\ \$$$$$$$ |$$ |      $$ |  $$ |$$ |$$ |  $$ |\$$$$$$$ |
\_______/    \____/  \_______|\__|        \____/       \__| \_______| \_______|\__|      \__|  \__|\__|\__|  \__| \____$$ |
                                                                                                                 $$\   $$ |
                                                                                                                 \$$$$$$  |
                                                                                                                  \______/ 

*/

.exhibit{
    background-color: whitesmoke;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid lightgray;
}

.exhibit h2{
    background-color: whitesmoke;
    margin-bottom: inherit;
}

.exhibit div{
    display: flex;
}

.urban{
    width: 60%;
    margin-right: 2.2rem;
}

.urban video{
    width: 100%;
    margin-bottom: 2rem;
}

.items{
    display: flex;
    background-color: lightgray;
}

.items:last-child{
    background-color: whitesmoke;
}

.outside{
    width: 42%;
}

img[alt="thesis"], img[alt="now-and-then"]{
    width: 35%;
    padding: 1rem;
}

.items figcaption{
    padding-top: 4rem;
}
/*
  __      __                            __                                      __        __  __        __    __     
  |  \    |  \                          |  \                                    |  \      |  \|  \      |  \  |  \    
 _| $$_   | $$____    ______    _______  \$$  _______         ______   __    __ | $$____   \$$| $$____   \$$ _| $$_   
|   $$ \  | $$    \  /      \  /       \|  \ /       \       /      \ |  \  /  \| $$    \ |  \| $$    \ |  \|   $$ \  
 \$$$$$$  | $$$$$$$\|  $$$$$$\|  $$$$$$$| $$|  $$$$$$$      |  $$$$$$\ \$$\/  $$| $$$$$$$\| $$| $$$$$$$\| $$ \$$$$$$  
  | $$ __ | $$  | $$| $$    $$ \$$    \ | $$ \$$    \       | $$    $$  >$$  $$ | $$  | $$| $$| $$  | $$| $$  | $$ __ 
  | $$|  \| $$  | $$| $$$$$$$$ _\$$$$$$\| $$ _\$$$$$$\      | $$$$$$$$ /  $$$$\ | $$  | $$| $$| $$__/ $$| $$  | $$|  \
   \$$  $$| $$  | $$ \$$     \|       $$| $$|       $$       \$$     \|  $$ \$$\| $$  | $$| $$| $$    $$| $$   \$$  $$
    \$$$$  \$$   \$$  \$$$$$$$ \$$$$$$$  \$$ \$$$$$$$         \$$$$$$$ \$$   \$$ \$$   \$$ \$$ \$$$$$$$  \$$    \$$$$                                                                                                                      
                                                                                                                                                                 
*/
footer{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 1.6rem;
    background-color: whitesmoke;
}

footer a{
    padding: 0 0.5rem;
}
/*

  /$$$$$$                      /$$                        
 /$$__  $$                    | $$                        
| $$  \__//$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$ 
| $$$$   /$$__  $$ /$$__  $$|_  $$_/   /$$__  $$ /$$__  $$
| $$_/  | $$  \ $$| $$  \ $$  | $$    | $$$$$$$$| $$  \__/
| $$    | $$  | $$| $$  | $$  | $$ /$$| $$_____/| $$      
| $$    |  $$$$$$/|  $$$$$$/  |  $$$$/|  $$$$$$$| $$      
|__/     \______/  \______/    \___/   \_______/|__/                                                                                                                                                                            
*/

.mobile{
    display: none;
}

.img-mobile{
    display: none;
}

@media screen and (max-width: 360px){
    #colmar, #navbar{
        display: none;
    }

    header{
        display: inherit;
    }

    .mobile{
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        padding-top: 0.7rem;
    }

    .mobile a img{
        width: 140%;
    }

    .home{
        flex-direction: column;
        padding: 0 0;
    }

    .home figure{
        width: 100%;
    }

    .home article{
        padding: 1rem 1rem;
    }

    .home article{
        width: 100%;
        padding-bottom: 2rem;
    }

    .home article a, 
    .home article h1,
    .home article p{
        width: 90%;
    }

    .home article h1{
        font-size: 2.2rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    .home article p{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .information{
        display: none;
    }

    .orientation-date{
        width: 100%;
        padding: 1rem;
    }

    .orientation{
        flex-wrap: wrap;
    }

    img[alt="orientation"], 
    img[alt="campus"], 
    img[alt="guest"]{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .img-mobile img{
        width: 100%;
    }

    .orientation figcaption{
        width: 100%;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .orientation figcaption h3{
        font-size: 1.6rem;
    }

    .orientation figcaption p,
    .orientation figcaption a{
        font-size: 1.1rem;
    }

    .orientation:first-child{
        border-bottom: inherit;
    }

    .orientation:last-child{
        background-color: inherit;
    }
}